.mine-wrapper {
  .userinfo {
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    background-image: url(../../assets/img/bgc/bgc4.jpg);
    color: #fff;
    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      // overflow: hidden;
    }

    .username {
      width: 60px;
      text-align: center;
    }
    p {
      padding-top: 10px;
    }
    .wrap {
      padding-top: 25px;
      padding-bottom: 5px;
      border-bottom: 1px solid #e2e2e2;
      span {
        margin-right: 10px;
        font-size: 14px;
      }
    }
    .desc {
      padding-top: 20px;
      font-size: 16px;
      font-weight: 800;
      color: black;
    }
  }
  .options-list {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    .za-tab-bar__item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .za-cell {
    background-color: #f3f3f5;
  }
}
